<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>서버 통신 테스트</h1>
    <button onclick="getData('success')">성공 테스트</button>
    <button onclick="getData('fail')">실패 테스트</button>

    <div id="display" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc;"> 결과가 여기 표시됩니다. </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>